* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  background: rgba(31, 41, 55);
}

.nav {
  display: flex;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.nav h1 {
  color: white;
}
.info {
  text-align: center;
}
.container {
  display: grid;
  height: 300px;
  width: 90%;
  max-width: 50rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  /* border: 1px solid white; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 30px;
  background: linear-gradient(65deg, #3a05c5, #44014c);
}
.container p {
  color: white;
}
.totalWaves {
  color: white;
}

button {
  font: inherit;
  background-color: transparent;
  color: white;
  padding: 12px;
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  font-size: 1.15rem;
  border: 8px solid transparent;
  position: relative;
}
button:hover {
  cursor: pointer;
}
.connect-button {
  border-image: -webkit-linear-gradient(right, #fdc830, #f37335);
  border-image-slice: 1;
}
.connect-button:hover {
  border: none;
  background-image: -webkit-linear-gradient(right, #fdc830, #f37335);
}
.wave-button {
  border-image: -webkit-linear-gradient(right, #35c9ff, #27d853);
  border-image-slice: 1;
}
.wave-button:hover {
  border: none;
  background-image: -webkit-linear-gradient(right, #35c9ff, #27d853);
}
.nav-dot {
  color: white;
}
.dotConnected {
  display: inline-block;
  margin: 1px 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #34d399;
}

.buttonx {
  position: flex;
  height: 70px;
  width: 255px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #fdc830;
  border-bottom: 5px solid #f37335;
  background-image: linear-gradient(#fdc830, #f37335),
    linear-gradient(#fdc830, #f37335);
  background-size: 10px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.buttonx:after {
  content: 'Connect Wallet';
  position: absolute;
  font-size: 50;
  letter-spacing: 1.5px;
  font-weight: 600;
  transition: 1s;
  color: black;
}
.slider1 {
  background-image: -webkit-linear-gradient(left, #fdc830, #f37335);

  height: 80px;
  width: 132.5px;
  position: flex;
  left: 0;
  transition: 1s;
  transform-origin: left;
}
.slider2 {
  background-image: -webkit-linear-gradient(right, #fdc830, #f37335);
  height: 80px;
  width: 132.5px;
  position: flex;
  right: 0;
  transition: 1s;
  transform-origin: right;
}
.buttonx:hover .slider1 {
  transform: scaleX(0);
}
.buttonx:hover .slider2 {
  transform: scaleX(0);
}
.buttonx:hover:after {
  color: #f37335;
}
